#about {
    margin-bottom: 3rem;
    padding: 30px;
}

.about-heading {
    color: #3E262E;
    font-weight: bold;
}

.about-subheading {
    color: white;
    font-style: italic;
}

p {
    color: #3E262E;
}

.description {
    text-align: justify;
    text-justify: inter-word;  
}

.profile {
    height: 35vh;
    margin: 15px;
    margin-left: 2rem;
    border-radius: 25px;
}

@media only screen and (max-width: 480px) {

    #about {
        margin-top: 1rem;
        margin-bottom: 5rem;
    }

    .about-content {
        display: flex;
        height: 70vh;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    #about {
        margin-top: 20vh;
        width: 800px;
    }

    .profile {
        width: 25vh;
        height: 25vh;
    }
}

@media only screen and (min-width: 1024px) {
    #about {
        margin-top: 2.5rem;
        width: 800px;
    }

    .profile {
        width: 45vh;
        height: 45vh;
    }
}