.home-content {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.name-heading {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.logo {
    margin-left: 0.5rem;
    height: 2rem;
    width: 2rem;
}

.type {
    font-style: italic;
}

.primaryBtn {
    display: inline-block;
    text-align: center;
    background-color: #85586F;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 20px;
    margin-top: 25px;
}

.primaryBtn:hover, #span {
    color: #3A263E;
}

@media only screen and (max-width: 480px) {
    .home-content {
      height: 80vh;
    }
}