.contact-heading {
    color: white;
    font-weight: bold;
    text-align: center;
}

.contactBtn {
    margin-bottom: 0.5rem;
    background-color: #85586F !important;
    border: none !important;
}

.contactBtn:hover {
    background-color: #a36d89 !important;
}

.icon {
    zoom: 1.4;
    margin-right: 0.5rem;
}

#contact {
    height: 59vh;
}

.contact-content {
    width: 45vh !important;
    margin-top: 4rem;
}

@media only screen and (max-width: 480px) {
    .contact-content {
        margin-top: 8.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    #contact {
        margin-top: 15vh;
    }
}