.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.nav-link {
    color: white;
    font-size: 15px;
    margin-left: 0.5rem;
    margin: 1.5rem;
    font-weight: bold;
   
  }
  
.nav-link:hover {
    color: #3a263e;
}
  
.navbar-nav {
    margin-right: 2rem;
    margin-top: 0.5rem;
    z-index: 1;
}  
  
@media only screen and (max-width: 480px) {
    .nav-link {
      margin-left: 0;
      margin: 0;
      font-size: 10pt;
    }
  
    .navbar-nav {
      position: absolute;
      margin: 0.5rem;
      padding-left: 0.5rem;
    }
}