body {
  background-color: #7A5980;
}

.home-content {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  margin-left: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.homeBtn {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-weight: bold;
  margin: 20px;
}